@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

html {
    height: 100%;
}

body {
    background-color: hsl(30, 38%, 92%);
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content(33%) 66%;
    margin: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    max-width: 900px;
}

.one {
    height: 100%;
    width: 100%;
}

.one img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5% 5% 0px 0px;
    display: block;
}
.two {
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 20px;
    overflow: hidden;
}

.cat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: hsl(228, 12%, 48%);
    font-size: 15px;
    margin: 0px;
    letter-spacing: 6px;
}

.titlePerfume {
    font-family: 'Fraunces', serif;
    font-weight: bolder;
    font-size: 26px;
    margin: 1Opx 0px;
}

.descriptor {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 200;
    font-size: 14px;
}

.price {
    font-family: 'Fraunces', serif;
}

#promo {
    font-size: 35px;
    font-weight: bold;
    color: #4D7864;
}

#realPrice {
    margin-left: 15px;
    font-size: 20px;
    color: hsl(228, 12%, 48%);
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

button {
    font-family: 'Fraunces', serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #4D7864;
    /* haut | droit | bas | gauche */
    padding: 15px 40px 15px 40px;
    width: 100%;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid #4D7864;
}

button>img {
    padding-right: 10px;
}

button:hover {
    background-color: #243E31;
    cursor: pointer;
}

@media screen and (max-width: 375px) {

    .cat {
        font-size: 14px;
    }

    .titlePerfume {
        font-size: 20px;
    }

    .descriptor {
        font-size: 14px;
    }

    #promo {
        font-size: 18px;
    }

    #realPrice {
        margin-left: 8px;
        font-size: 10px;
    }

    button {
        font-size: 12px;
        background-color: #4D7864;
        /* haut | droit | bas | gauche */
        padding: 10px 40px 10px 40px;
    }

}

@media screen and (min-width: 740px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .one img {
        border-radius: 5% 0px 0px 5%;
    }

    .two {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 40px;
    }

    .cat {
        font-size: 20px;
    }

    .titlePerfume {
        font-size: 40px;
        margin: 3px 0px;
    }

    .descriptor {
        font-size: 20px;
    }
}